@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@400;600;700&family=Poppins:wght@700&display=swap");
@import "./myreset.css";
* {
  box-sizing: border-box;
}

body {
  font-family: "Montserrat", sans-serif;
  font-size: 16px;
  line-height: 1.625;
}
.wrapper {
  background-color: #3399cc;
  border: 25px solid #2b81ac;
  height: 100vh;
  box-sizing: border-box;
}
.container {
  max-width: 1170px;
  max-height: 592;
  width: 100%;
  height: 100%;
  margin: 35px auto 119px;
}
main {
  margin-bottom: 37px;
}
/* header */
.header {
  margin-bottom: 37px;
}
.header__title {
  font-size: 21px;
  line-height: 25px;
  color: #ffffff;
  display: inline-block;
  margin-right: 4px;
}
.wi-sunrise {
  font-size: 27px;
  line-height: 39px;
  color: #ffffff;
}

/* weather */
.weather__list {
  /* max-width: 1170px; */
  /* background-color: red; */
  border: 2px solid #ffffff;
}
ul {
  font-size: 0;
}
ul:hover li {
  opacity: 0.7;
  transition: all 0.1s ease-in;
}
ul li:hover {
  opacity: 1;
  transition: all 0.1s ease-in;
}
li {
  display: inline-block;
  max-height: 147px;
  font-size: 22px;
  text-align: center;
  color: #ffffff;
  border: 2px solid #ffffff;
  padding-top: 26px;
  padding-bottom: 26px;
  box-sizing: border-box;
  transition: all 0.1s ease-in;
}

.li-1 {
  width: 50%;
  background-color: #70b8db;
}
.li-2 {
  width: 25%;
  background-color: #33cccc;
}
.li-3 {
  width: 25%;
  background-color: #996699;
}
.li-4 {
  width: 25%;
  background-color: #c24747;
}
.li-5 {
  width: 25%;
  background-color: #e2674a;
}
.li-6 {
  width: 25%;
  background-color: #ffcc66;
}
.li-7 {
  width: 25%;
  background-color: #99cc99;
}
.li-8 {
  width: 25%;
  background-color: #669999;
}
.li-9 {
  width: 50%;
  background-color: #cc6699;
}
.li-10 {
  width: 25%;
  background-color: #339966;
}
.li-11 {
  width: 100%;
  background-color: #666699;
}

/* footer */
footer p {
  font-size: 16px;
  line-height: 19px;

  color: #ffffff;
}
