.description {
  color: pink;
  @media (max-width: 1024px) {
    color: red;
  }
  @media (max-width: 768px) {
    color: blue;
  }
}
// ==================
.desktop-menu {
  display: flex;
  justify-content: space-between;
  text-transform: uppercase;
  @media (max-width: 768px) {
    display: none;
  }
}

// ==================

.desktop {
  display: block;
  color: yellow;
  @media (max-width: 768px) {
    display: none;
  }
}
.mobile {
  display: none;
  color: grey;
  @media (max-width: 768px) {
    display: block;
  }
}

#main-container {
  width: 100%;
  height: auto;
  background-color: white;
}
