/* base styles */
$ff-base: "Montserrat", sans-serif;
$fw-base: 400;
$fs-base: rem(16);
$lh-base: calc(20 / 16);

$width-container: 1200px;
$white: #ffffff;
$bg-color: #ffffff;
$text-color: #4f4f4f;
$chevron-color: #392c72;
$chevron-bg-color: #ffffff;

$gray-dark: #4f4f4f;
$purple-dark: #392c72;
$purple-light: #9e8cfc;
$red: #ea5455;
$yellow: #f2c94c;
$green: #6fcf97;

$tran-02: all 0.2s ease;
$tran-03: all 0.3s ease;
$tran-04: all 0.4s ease;
$tran-05: all 0.5s ease;
