@mixin theme($theme: darkgrey) {
  background: $theme;
  box-shadow: 0 0 1px rgba($theme, 0.25);
  color: #fff;
}
@mixin size() {
  width: 200px;
  height: 200px;
}

@mixin flex($direction: row, $wrap: null) {
  display: flex;
  justify-content: space-between;
  flex-direction: $direction;
  @if $wrap {
    flex-wrap: wrap;
  } @else {
    flex-wrap: nowrap;
  }
}
