/* base styles */
$ff-base: "Lato", sans-serif;
$fw-base: 400;
$fs-base: rem(16);
$lh-base: 1;
$color-base: #000000;
$width-container: 1200px; // 30px more then real container

/* ------------------------ */
/* ------ colors ------- */
/* ------------------------ */
$white: #ffffff;
$grey: #565656;
$light-grey: #7b7b7b;
