body {
  font-family: $primary-font-family;
  color: $grey-color;
  font-size: $base__fontSize;
  // line-height: $base__lineHeight;
}

.wrapper {
  min-height: 100%;
  display: flex;
  flex-direction: column;
  overflow: hidden;
}
/* bounding continer */
[class*="__container"] {
  max-width: $width-container;
  padding: 0 15px;
  margin: 0 auto;
  @include flex(true);
}

body {
  // @include fontSize(18px);
  font-size: rem(18);
}
