// colors
$primary-color: #ffb30e;
$warning-color: #f17228;
$grey-color: #424242;

// font family
$primary-font-family: "Source Sans Pro", sans-serif;
$secondary-font-family: "Open Sans", sans-serif;

// font size
$base__fontSize: 16px;

$width-container: 1510px;
