@import url("https://fonts.googleapis.com/css2?family=Lato:wght@400;500;700&family=Red+Hat+Display:wght@400;500;600;700&family=Roboto&display=swap"); /* -------------------- */
/* --- RESET STYLES --- */
/* -------------------- */
* {
  padding: 0px;
  margin: 0px;
  border: none;
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

:focus,
:active {
  outline: none;
}

a:focus,
a:active {
  outline: none;
}

/* Links */
a,
a:link,
a:visited {
  color: inherit;
  text-decoration: none;
  /*display: inline-block;*/
}

a:hover {
  /* color: inherit; */
  text-decoration: none;
}

/* Common */
aside,
nav,
footer,
header,
section,
main {
  display: block;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  font-size: inherit;
  font-weight: inherit;
}

ul,
ul li {
  list-style: none;
}

img {
  vertical-align: top;
}

img,
svg {
  max-width: 100%;
  height: auto;
}

/* Form */
input,
textarea,
button,
select {
  font-family: inherit;
  font-size: inherit;
  color: inherit;
}

input::-ms-clear {
  display: none;
}

button,
input[type=submit] {
  display: inline-block;
  box-shadow: none;
  background-color: transparent;
  background: none;
  cursor: pointer;
}

input:focus,
input:active,
button:focus,
button:active {
  outline: none;
}

button::-moz-focus-inner {
  padding: 0;
  border: 0;
}

label {
  cursor: pointer;
}

legend {
  display: block;
}

/* base styles */
/* ------------------------ */
/* ------ colors ------- */
/* ------------------------ */
/* -------------------- */
/* --- BASE STYLES --- */
/* -------------------- */
html,
body {
  height: 100%;
  width: 100%;
  font-size: 100%;
}

body {
  font-family: "Lato", sans-serif;
  font-size: 1rem;
  line-height: 1;
  color: #000000;
}

a:hover {
  color: #000000;
}

a:active {
  text-decoration: underline;
}

.wrapper {
  min-height: 100%;
  display: flex;
  flex-direction: column;
  overflow: clip;
}

/* bounding continer */
[class*=__container] {
  max-width: 1200px;
  margin: 0 auto;
  padding: 0 15px;
}

@media (max-width: 768px) {
  [class*=__container] {
    max-width: 768px;
    padding: 0 34px;
  }
}
@media (max-width: 320px) {
  [class*=__container] {
    max-width: 320px;
    padding: 0 10px;
  }
}
.page {
  flex: 1 1 auto;
  margin-bottom: 106px;
}
.page__blog, .page__latest-posts, .page__popular {
  margin-bottom: 90px;
}
@media (max-width: 768px) {
  .page__blog, .page__latest-posts, .page__popular {
    margin-bottom: 70px;
  }
}
@media (max-width: 320px) {
  .page {
    margin-bottom: 70px;
  }
}

.title-h2 {
  font-family: "Red Hat Display", sans-serif;
  font-weight: 400;
  font-size: 3rem;
  line-height: 1.33333333; /* 64/48 */
  letter-spacing: 0.05em;
}

.title-h4 {
  font-family: "Red Hat Display", sans-serif;
  font-weight: 500;
  font-size: 1.4375rem;
  line-height: 1.66;
  letter-spacing: 0.1em;
}

.title-h3 {
  font-family: "Red Hat Display", sans-serif;
  font-weight: 600;
  font-size: 1.75rem;
  line-height: 1.66;
  letter-spacing: 0.1em;
  color: #000000;
}

.title-h4 {
  font-family: "Red Hat Display", sans-serif;
  font-weight: 500;
  font-size: 1.4375rem;
  line-height: 1.66;
  letter-spacing: 0.1em;
  color: #000000;
}

.read-more {
  display: inline-flex;
  align-items: center;
  justify-content: flex-start;
  max-width: 130px;
  margin-left: 15px;
  cursor: pointer;
}
.read-more__text {
  display: none;
  width: 0%;
  transition: width 1.5s ease 0.2s;
  margin-right: 8px;
  font-family: "Lato", sans-serif;
  font-weight: 400;
  font-size: 1rem;
  line-height: 1.663;
  letter-spacing: 0.1em;
  color: #000000;
}
.read-more:hover .read-more__text {
  display: flex;
  justify-content: flex-start;
  flex-grow: 0 1 auto;
  width: 100%;
  transition: width 1.5s ease 0.2s;
}
.read-more:hover .read-more__arrow {
  fill: #000000;
}
.read-more:active {
  text-decoration: none;
}

.button {
  display: flex;
  justify-content: center;
  color: #ffffff;
}
.button__link {
  font-family: "Lato", sans-serif;
  font-weight: 700;
  font-size: 1rem;
  line-height: 1.66;
  letter-spacing: 0.1em;
  background-color: #565656;
  padding: 9.5px 45px;
  transition: background-color 0.3s ease;
}
.button__link:hover {
  background-color: #323232;
  color: #ffffff;
  transition: background-color 0.3s ease;
}
.button__link:active {
  text-decoration: none;
}

.contacts {
  display: flex;
  flex-direction: column;
  row-gap: 15px;
}
@media (max-width: 768px) {
  .contacts {
    align-items: center;
  }
}

.socials {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}
.socials__box {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  width: 50px;
  height: 50px;
  border: 1px solid #565656;
  margin-right: 23px;
  transition: background-color 0.3s ease;
}
.socials__box:hover {
  background-color: #565656;
  transition: background-color 0.3s ease;
}
@media (max-width: 768px) {
  .socials__box {
    margin-right: unset;
  }
}
.socials__icon {
  color: #565656;
  font-size: 1.5rem;
}
.socials__box:hover .socials__icon {
  color: #ffffff;
  transition: color 0.3s ease;
}

@media (max-width: 768px) {
  .socials__box:not(:last-child) {
    margin-right: 23px;
  }
}
/*--------------------------*/
.header {
  border-bottom: 1px solid rgba(238, 238, 238, 0.1);
  z-index: 50;
}
.header__container {
  position: relative;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-top: 40px;
  padding-bottom: 40px;
  z-index: 1;
}
.header__menu {
  flex: 1 1 auto;
  margin-right: 84px;
}
.header__logo, .header__search {
  display: flex;
  align-items: center;
}

.menu__list {
  display: flex;
  flex-wrap: wrap;
  row-gap: 3px;
  align-items: center;
  justify-content: flex-end;
}
.menu__item {
  display: flex;
  flex-direction: column;
  padding-top: 6px;
  align-items: center;
}
.menu__item:not(:last-child) {
  margin-right: 42px;
}
.menu__link {
  font-weight: 400;
  font-size: 14px;
  line-height: 1.214; /* 17/14 */
  letter-spacing: 0.3em;
  text-transform: uppercase;
  margin-bottom: 5px;
  transition: color 0.3s ease-in-out;
  position: relative;
}
.menu__link.menu__link--active::after {
  content: "";
  width: 70%;
  height: 1px;
  background-color: #000;
  position: absolute;
  left: 15%;
  bottom: -5px;
}
.menu__link:active {
  text-decoration: none;
}
.menu__link:active::after {
  content: "";
  width: 70%;
  height: 1px;
  background-color: #000;
  position: absolute;
  left: 15%;
  bottom: -5px;
}

.search {
  position: relative;
}
.search__input {
  display: none;
  border-bottom: #000000;
}
.search__btn {
  display: flex;
  align-items: center;
}

/*--------------------------*/
/*----------burger----------*/
/*--------------------------*/
.burger {
  display: flex;
  flex-direction: column;
  row-gap: 8px;
  cursor: pointer;
}

.burger div {
  width: 34px;
  height: 2px;
  background-color: #000;
  transition: all 0.3s ease-in;
}

.header__burger {
  display: none;
  transition: all 0.3s ease-in;
}

.burger__close .burger__top {
  transform: rotate(37deg);
  transform-origin: left top;
  transition: all 0.3s ease-in;
}

.burger__close .burger__bottom {
  transform: rotate(-37deg);
  transform-origin: left bottom;
  transition: all 0.3s ease-in;
}

.burger__close .burger__middle {
  opacity: 0;
  transition: all 0.3s ease;
}

/*--------------------------*/
/*------ media query -------*/
/*--------------------------*/
@media (max-width: 850px) {
  .header__menu {
    margin-right: 34px;
  }
}
@media (max-width: 768px) {
  .header__menu {
    position: fixed;
    left: -1000px;
    top: 70px;
    padding: 0px 0 90px 0;
    padding-left: -15px;
    width: 100%;
    background-color: #ffffff;
    z-index: 10;
    transition: left 1s ease-in;
  }
  .header__search {
    margin-right: 40px;
    flex: 1 1 auto;
    justify-content: flex-end;
  }
  .header__menu--mobile {
    display: flex;
    left: 0;
    justify-content: center;
    transition: left 0.5s ease-in;
  }
  .header__burger {
    display: flex;
    transition: all 0.3s ease-in;
  }
  .menu__list {
    flex-direction: column;
    align-items: center;
  }
  .menu__item {
    font-size: 24px;
    padding: 10px;
  }
  .menu__item:not(:last-child) {
    margin-right: 0;
  }
}
@media (max-width: 320px) {
  .header__search {
    margin-right: 20px;
  }
}
.page__first-screen {
  margin-bottom: 90px;
}

.first-screen {
  min-height: 600px;
  background: url("./assets/images/bg-image.jpg") no-repeat;
  background-size: cover;
}
.first-screen__container {
  display: flex;
  justify-content: space-between;
}
.first-screen__content {
  padding-top: 100px;
  min-height: auto;
  width: 100%;
}
.first-screen__title {
  font-family: "Red Hat Display", sans-serif;
  font-weight: 600;
  font-size: 3rem;
  line-height: 1.36; /* 64/47 */
  letter-spacing: 0.05em;
  width: 100%;
  display: flex;
}

/*--------------------------*/
/*------ media query -------*/
/*--------------------------*/
@media (max-width: 920px) {
  .first-screen__content {
    padding-top: 70px;
    max-width: 570px;
    font-size: 2.5rem;
  }
}
@media (max-width: 768px) {
  .first-screen {
    min-height: 320px;
    background: url("./assets/images/bg-image-tablet.jpg") no-repeat;
  }
  .first-screen__container {
    margin: 0;
  }
  .first-screen__content {
    padding-top: 30px;
  }
  .first-screen__title {
    font-size: 2.25rem;
    line-height: 1.39; /* 50/36 */
  }
}
@media (max-width: 320px) {
  .first-screen {
    background: url("./assets/images/bg-image-mobile.jpg") no-repeat;
  }
  .first-screen__content {
    padding-top: 70px;
  }
  .first-screen__title {
    font-size: 1.875rem;
  }
}
.blog__container {
  display: flex;
  flex-direction: column;
}
.blog__title {
  margin-bottom: 50px;
}
.blog__article-container {
  display: flex;
  flex-direction: column;
  row-gap: 50px;
}
.blog__article {
  display: flex;
  column-gap: 30px;
}

.article {
  max-height: 470px;
}
.article div {
  flex-basis: 50%;
}
.article:last-child {
  flex-direction: row-reverse;
}
.article__info {
  padding: 85px 120px 85px 0px;
}
.article__info--second {
  padding: 85px 0 85px 120px;
}
.article__info-tag {
  display: flex;
  justify-content: flex-start;
  margin-bottom: 30px;
  font-family: "Lato", sans-serif;
  line-height: 1.66;
  letter-spacing: 0.1em;
  color: #7b7b7b;
}
.article__info-tag01 {
  margin-right: 10px;
}
.article__info-title {
  margin-bottom: 15px;
}
.article__info-date {
  font-family: "Lato", sans-serif;
  line-height: 1.66;
  letter-spacing: 0.1em;
  color: #7b7b7b;
  margin-bottom: 50px;
}
.article__info-text {
  font-family: "Lato", sans-serif;
  font-weight: 400;
  font-size: 1rem;
  line-height: 1.66;
  letter-spacing: 0.05em;
  color: #565656;
}

@media (max-width: 1055px) {
  .blog__article {
    column-gap: 20px;
  }
  .article__info {
    padding: 0;
    max-width: 340px;
  }
  .article__info-date {
    margin-bottom: 30px;
  }
  .text-for-desktop {
    display: none;
  }
}
@media (max-width: 767.98px) {
  .page__first-screen {
    margin-bottom: 70px;
  }
  .blog__article {
    flex-direction: column-reverse;
  }
  .article {
    max-height: unset;
  }
  .article__info {
    margin-bottom: 37px;
  }
  .article:last-child {
    flex-direction: column-reverse;
  }
}
@media (max-width: 320px) {
  .article__info-title {
    font-size: 1.375rem;
    margin-bottom: 10px;
  }
  .article__info-date {
    margin-bottom: 40px;
  }
}
.latest-posts__header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 50px;
}
.latest-posts__row {
  display: flex;
  justify-content: space-between;
  column-gap: 30px;
}
.latest-posts__item {
  display: flex;
  flex-direction: column;
  flex: 1 1 370px;
}
.latest-posts__img-box {
  margin-bottom: 25px;
}
.latest-posts__head {
  display: flex;
  justify-content: space-between;
  margin-bottom: 25px;
  font-family: "Lato", sans-serif;
  font-weight: 400;
  font-size: 0.75rem;
  line-height: 1.66;
  letter-spacing: 0.1em;
  color: #7b7b7b;
}
.latest-posts__description-title {
  margin-bottom: 20px;
}
.latest-posts__description-text {
  font-family: "Lato", sans-serif;
  font-weight: 400;
  font-size: 1rem;
  line-height: 1.66;
  letter-spacing: 0.05em;
  color: #565656;
}

.view-all__text {
  line-height: 1.663;
  letter-spacing: 0.1em;
  color: #7b7b7b;
  margin-right: 8px;
}

.view-all__text:hover {
  color: #000000;
}

.view-all:hover path.read-more__arrow {
  fill: #000000;
}

.view-all:active {
  text-decoration: none;
}

/*-------media query --------*/
@media (max-width: 768px) {
  .latest-posts__row {
    flex-direction: column;
    row-gap: 30px;
  }
  .latest-posts__item {
    flex-direction: row;
    flex-basis: auto;
    justify-content: space-between;
    column-gap: 10px;
    height: 240px;
  }
  .latest-posts__item * {
    flex: 1 1 50%;
  }
  .latest-posts__item:nth-child(even) {
    flex-direction: row-reverse;
  }
  .latest-posts__img-box {
    max-width: 340px;
    width: 100%;
    height: 100%;
  }
  .latest-posts__img {
    object-fit: cover;
    height: 100%;
  }
  .latest-posts__content {
    max-width: 340px;
    width: 100%;
    height: 100%;
  }
}
@media (max-width: 560px) {
  .latest-posts__row {
    row-gap: 50px;
  }
  .latest-posts__item, .latest-posts__item:nth-child(even) {
    flex-direction: column;
    height: unset;
  }
  .latest-posts__header {
    flex-direction: column;
    align-items: flex-start;
    margin-bottom: 30px;
  }
  .latest-posts__title {
    margin-bottom: 10px;
  }
  .latest-posts__head-date {
    display: flex;
    justify-content: flex-end;
  }
}
.popular__header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 50px;
}
.popular__row {
  display: flex;
  justify-content: space-between;
  column-gap: 30px;
  margin-bottom: 50px;
}
.popular__item {
  display: flex;
  flex-direction: column;
  flex: 1 1 370px;
}
.popular__img-box {
  margin-bottom: 25px;
}
.popular__head {
  display: flex;
  justify-content: space-between;
  margin-bottom: 25px;
  font-family: "Lato", sans-serif;
  font-weight: 400;
  font-size: 0.75rem;
  line-height: 1.66;
  letter-spacing: 0.1em;
  color: #7b7b7b;
}
.popular__description-title {
  margin-bottom: 20px;
}
.popular__description-text {
  font-family: "Lato", sans-serif;
  font-weight: 400;
  font-size: 1rem;
  line-height: 1.66;
  letter-spacing: 0.05em;
  color: #565656;
}

@media (max-width: 500px) {
  .popular__header {
    flex-direction: column;
    align-items: flex-start;
  }
  .popular__row {
    flex-direction: column;
    row-gap: 50px;
  }
}
.info__container {
  display: flex;
  justify-content: space-between;
}
.info__container div {
  max-width: 470px;
}
.info__title-box {
  display: flex;
  flex-direction: column;
}
.info__title {
  font-family: "Red Hat Display", sans-serif;
  font-weight: 400;
  font-size: 1.4375rem;
  line-height: 1.66;
  letter-spacing: 0.1em;
  color: #000000;
  margin-bottom: 20px;
}
.info__read-more {
  margin-left: unset;
  display: flex;
  justify-content: start;
}
.info__text-box {
  font-family: "Lato", sans-serif;
  font-weight: 400;
  font-size: 1.1875rem;
  line-height: 1.6842105263;
  letter-spacing: 0.05em;
  color: #565656;
}
.info__text-01 {
  margin-bottom: 25px;
}

@media (max-width: 768px) {
  .info__container {
    flex-direction: column;
  }
  .info__container div {
    max-width: unset;
  }
  .info__title-box {
    margin-bottom: 50px;
  }
  .info__text-box {
    align-self: flex-end;
    text-align: end;
  }
}
@media (max-width: 320px) {
  .info__title-box {
    margin-bottom: 35px;
  }
  .info__text-box {
    font-size: 1.125rem;
    text-align: left;
  }
}
.footer {
  background-color: #f4f4f4;
  padding: 70px 0 30px 0;
}
.footer__cta-title {
  margin-bottom: 30px;
}
.footer__row {
  display: flex;
  justify-content: space-between;
  margin-bottom: 20px;
}
.footer__socials {
  align-self: center;
}
.footer__copyright {
  display: flex;
  justify-content: center;
}
.footer__copyright-text {
  text-align: center;
}

@media (max-width: 768px) {
  .footer {
    padding: 50px 0px 50px 0px;
  }
  .footer__row {
    flex-direction: column;
    margin-bottom: 40px;
  }
  .footer__cta {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-bottom: 40px;
  }
  .footer__cta-title {
    text-align: center;
  }
  .footer__copyright-text {
    font-size: 1rem;
  }
}
@media (max-width: 320px) {
  .footer__cta-title {
    font-size: 2rem;
    line-height: 1.3125;
    letter-spacing: 0.05em;
  }
  .footer__cta-contacts {
    font-size: 1.125rem;
  }
  .footer__copyright-text {
    display: flex;
    flex-direction: column;
  }
  .footer__copyright-text span {
    margin-top: 5px;
  }
}

/*# sourceMappingURL=index.css.map */
