.page__first-screen{
  margin-bottom: 90px;
}
.first-screen {
  // min-width: 1440px;
  min-height: 600px;
  background: url("./assets/images/bg-image.jpg") no-repeat;
  background-size: cover;
  &__container {
    // margin: 0;
    display: flex;
    justify-content: space-between;
  }
  &__content {
    padding-top: 100px;
    // max-width: 770px;
    min-height: auto;
    width: 100%;
  }
  &__title {
    font-family: "Red Hat Display", sans-serif;
    font-weight: 600;
    font-size: rem(48);
    line-height: 1.36; /* 64/47 */
    letter-spacing: 0.05em;
    width: 100%;
    display: flex;
  }
}
/*--------------------------*/
/*------ media query -------*/
/*--------------------------*/
@media (max-width: 920px) {
  .first-screen {
    &__content {
      padding-top: 70px;
      max-width: 570px;
      font-size: rem(40);
    }
  }
}
@media (max-width: 768px) {
  .first-screen {
    // max-width: 768px;
    min-height: 320px;
    background: url("./assets/images/bg-image-tablet.jpg") no-repeat;

    &__container {
      margin: 0;
    }
    &__content {
      padding-top: 30px;
    }
    &__title {
      font-size: rem(36);
      line-height: 1.39; /* 50/36 */
      // max-width: 500px;
    }
  }
}

@media (max-width: 320px) {
  .first-screen {
    background: url("./assets/images/bg-image-mobile.jpg") no-repeat;
    &__content {
      padding-top: 70px;
    }
    &__title {
      font-size: rem(30);
    }
  }
}
