.latest-posts {
  &__header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 50px;
  }

  &__row {
    display: flex;
    justify-content: space-between;
    column-gap: 30px;
  }
  &__item {
    display: flex;
    flex-direction: column;
    flex: 1 1 370px;
  }
  &__img-box {
    margin-bottom: 25px;
  }
  &__head {
    display: flex;
    justify-content: space-between;
    margin-bottom: 25px;

    font-family: $ff-base;
    font-weight: $fw-base;
    font-size: rem(12);
    line-height: 1.66;
    letter-spacing: 0.1em;
    color: $light-grey;
  }
  &__description-title {
    margin-bottom: 20px;
  }
  &__description-text {
    font-family: $ff-base;
    font-weight: $fw-base;
    font-size: $fs-base;
    line-height: 1.66;
    letter-spacing: 0.05em;
    color: $grey;
  }
}

.view-all__text {
  line-height: 1.663;
  letter-spacing: 0.1em;
  color: $light-grey;
  margin-right: 8px;
}
.view-all__text:hover {
  color: $color-base;
}
.view-all:hover path.read-more__arrow {
  fill: $color-base;
}
.view-all:active {
  text-decoration: none;
}

/*-------media query --------*/
@media (max-width: 768px) {
  .latest-posts {
    &__row {
      flex-direction: column;
      row-gap: 30px;
    }
    &__item {
      flex-direction: row;
      flex-basis: auto;
      justify-content: space-between;
      column-gap: 10px;
      height: 240px;
      & * {
        flex: 1 1 50%;
      }
    }
    &__item:nth-child(even) {
      flex-direction: row-reverse;
    }
    &__img-box {
      max-width: 340px;
      width: 100%;
      // max-height: 240px;
      height: 100%;
    }
    &__img {
      object-fit: cover;
      height: 100%;
    }
    &__content {
      max-width: 340px;
      width: 100%;
      height: 100%;
    }
  }
}

@media (max-width: 560px) {
  .latest-posts {
    &__row{
      row-gap: 50px;
    }
    &__item,
    &__item:nth-child(even) {
      flex-direction: column;
      height: unset;
    }
    &__header {
      flex-direction: column;
      align-items: flex-start;
      margin-bottom: 30px;
    }
    &__title {
      margin-bottom: 10px;
    }
    &__head-date {
      display: flex;
      justify-content: flex-end;
    }
  }
}
