.team__container {
}

.header {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  max-width: 450px;
  max-height: 157px;
  margin: 0 auto;
}
.header__subtitle {
  font-family: "Raleway", sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 18px;
  line-height: 24px;
  text-align: center;
  text-transform: uppercase;
  color: #898f8f;
  margin-bottom: 15px;
}

.header__title {
  font-family: "Roboto", sans-serif;
  font-style: normal;
  font-weight: 900;
  font-size: 60px;
  line-height: 66px;
  text-align: center;
  text-transform: uppercase;
  color: #ffcc00;
  margin-bottom: 40px;
}
.header__img {
  display: block;
  position: relative;

  // width: 100%;
}
// .header__img::before {
//   content: "";
//   position: absolute;
//   top: 0;
//   left: -50px;
//   display: inline-block;
//   width: 50px;
//   height: 2px;

//   background-color: gold;
//   border: 1px solid red;

//   z-index: 10;
// }
.header__img-box {
  position: relative;
}
.header__img-box::before {
  content: "";
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  right: 25px;
  display: inline-block;
  width: 210px;
  border: 1px solid #ffcc00;
}
.header__img-box::after {
  content: "";
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  left: 25px;
  display: inline-block;
  width: 210px;
  height: 0;
  border: 1px solid #ffcc00;
}
