* {
  box-sizing: border-box;
}
img {
  width: 160px;
  height: 160px;
}
.container {
  width: 70%;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: beige;
  border: 1px dashed green;
  height: 1000px;
  gap: 30px;
}
.card {
  width: 200px;
  justify-content: center;
  align-items: center;
}
.special {
  align-self: start;
}
