
$ff-base: "Montserrat", sans-serif;
$fw-base: 500;
$fs-base: rem(16);
$lh-base: 1;
$width-container: 1230px; // on 30px more then real container
$clr-base: #000000;
$brown-dark: #35312D;
$brown-light: #F8F1EA;
$tomato: #C62100;
$tomato-light: #F16A50;
$dot-inactive: rgba(248, 241, 234, 0.7);
$dark-dot-inactive: #CAC2BA;
$arrow-inactive: #202020;



