/* -------------------- */
/* --- RESET STYLES --- */
/* -------------------- */
@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500;700&display=swap");
* {
  padding: 0px;
  margin: 0px;
  border: none;
}

*,
*::before,
*::after {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

:focus,
:active {
  outline: none;
}

a:focus,
a:active {
  outline: none;
}

/* Links */
a,
a:link,
a:visited {
  color: inherit;
  text-decoration: none;
  /*display: inline-block;*/
}

a:hover {
  /* color: inherit; */
  text-decoration: none;
}

/* Common */
aside,
nav,
footer,
header,
section,
main {
  display: block;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  font-size: inherit;
  font-weight: inherit;
}

ul,
ul li {
  list-style: none;
}

img {
  vertical-align: top;
}

img,
svg {
  max-width: 100%;
  height: auto;
}

/* Form */
input,
textarea,
button,
select {
  font-family: inherit;
  font-size: inherit;
  color: inherit;
}

input::-ms-clear {
  display: none;
}

button,
input[type=submit] {
  display: inline-block;
  -webkit-box-shadow: none;
          box-shadow: none;
  background-color: transparent;
  background: none;
  cursor: pointer;
}

input:focus,
input:active,
button:focus,
button:active {
  outline: none;
}

button::-moz-focus-inner {
  padding: 0;
  border: 0;
}

label {
  cursor: pointer;
}

legend {
  display: block;
}

/* base styles */
body {
  font-family: "Montserrat", sans-serif;
  background-color: #ffffff;
  color: #4f4f4f;
}

path {
  fill: inherit;
  stroke: inherit;
}

body.dark .sidebar {
  background-color: #283046;
}
body.dark .page__container {
  background: #283046;
}
body.dark .menu__item {
  color: #bdbdbd;
}
body.dark .sidebar__logo-name {
  color: #bdbdbd;
}
body.dark .chevron-box {
  border: 2px solid #bdbdbd;
  background-color: #283046;
}
body.dark .chevron {
  border-top: 2px solid #bdbdbd;
  border-left: 2px solid #bdbdbd;
}
body.dark .sidebar.close .chevron-box {
  border: 2px solid #bdbdbd;
  background-color: #283046;
}
body.dark svg {
  fill: #bdbdbd;
}
body.dark .page {
  background-color: #161d31;
}
body.dark .title {
  color: #bdbdbd;
}
body.dark .settings__lang-text {
  color: #bdbdbd;
}
body.dark .bg-light {
  display: none;
}
body.dark .bg-dark {
  display: block;
}

.wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  max-width: 1440px;
  margin: 0 auto;
}

.sidebar {
  min-height: 100vh;
  width: 220px;
  padding: 30px 0;
  background-color: #ffffff;
  position: relative;
  -webkit-transition: all 0.5s ease;
  transition: all 0.5s ease;
  -webkit-box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.15);
          box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.15);
}
.sidebar__header {
  max-height: 32px;
  margin-bottom: 40px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}
.sidebar__logo {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding-left: 15px;
  -webkit-transition: all 0.5s ease;
  transition: all 0.5s ease;
}
.sidebar__logo-img {
  min-width: 32px;
  min-height: 32px;
  margin-right: 7px;
}
.sidebar__logo-name {
  -webkit-transition: all 0.3s ease;
  transition: all 0.3s ease;
}

/* ====== sidebar close ===== */
.sidebar.close {
  width: 86px;
  -webkit-transition: all 0.5s ease;
  transition: all 0.5s ease;
}
.sidebar.close .sidebar__logo {
  margin: 0 auto;
  padding-left: unset;
  -webkit-transition: all 0.5s ease;
  transition: all 0.5s ease;
}
.sidebar.close .sidebar__logo-name {
  width: 0;
  opacity: 0;
}
.sidebar.close .chevron-box {
  right: -10px;
  background-color: #ffffff;
  -webkit-transition: all 0.5s ease;
  transition: all 0.5s ease;
}
.sidebar.close .chevron-box:hover {
  background-color: #9e8cfc;
}
.sidebar.close .menu__item {
  padding-left: 0;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}
.sidebar.close .s-icon {
  margin: 0 auto;
}
.sidebar.close .title {
  display: none;
  width: 0;
  opacity: 0;
}
.sidebar.close .title-dash {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  height: 20px;
  opacity: 1;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  padding-left: 0;
}
.sidebar.close .text {
  width: 0;
  opacity: 0;
  -webkit-transition: all 0.3s ease;
  transition: all 0.3s ease;
}

/*====== chevron ====== */
.chevron-box {
  width: 20px;
  height: 20px;
  border: 2px solid #392c72;
  border-radius: 50%;
  background-color: #ffffff;
  position: absolute;
  top: 36px;
  right: 15px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  cursor: pointer;
  z-index: 100;
}
.chevron-box:hover {
  background-color: #9e8cfc;
  -webkit-transition: all 0.5s ease;
  transition: all 0.5s ease;
}

.chevron {
  width: 5px;
  height: 5px;
  border-top: 2px solid #392c72;
  border-left: 2px solid #392c72;
  -webkit-transform: rotate(-45deg);
          transform: rotate(-45deg);
  -webkit-transition: all 0.5s ease;
  transition: all 0.5s ease;
}

.chevron.switch {
  -webkit-transform: rotate(135deg);
          transform: rotate(135deg);
  -webkit-transition: all 0.5s ease;
  transition: all 0.5s ease;
}

@media (max-width: 1230px) {
  .sidebar__logo-name {
    display: none;
  }
}
.menu__item {
  height: 46px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding-left: 15px;
  color: #4f4f4f;
  cursor: pointer;
  -webkit-transition: all 0.3s ease;
  transition: all 0.3s ease;
}
.menu__item:hover {
  background-color: #9e8cfc;
  -webkit-box-shadow: 0px 0px 20px rgba(158, 140, 252, 0.7);
          box-shadow: 0px 0px 20px rgba(158, 140, 252, 0.7);
  -webkit-transition: all 0.3s ease;
  transition: all 0.3s ease;
}
.menu__item:hover .text {
  color: #ffffff;
  -webkit-transition: all 0.3s ease;
  transition: all 0.3s ease;
}
.menu__item:hover svg {
  fill: #ffffff;
  -webkit-transition: all 0.3s ease;
  transition: all 0.3s ease;
}
.menu__dashboard, .menu__apps, .menu__auth-pages {
  margin-bottom: 40px;
}
.menu__link {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  position: relative;
}
.menu__link .badge {
  position: absolute;
  top: 3px;
  left: 20px;
  width: 20px;
  height: 20px;
  font-weight: 700;
  font-size: 12px;
  line-height: 1.25;
  color: #4f4f4f;
  border-radius: 12px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.menu__link .badge-green {
  background: #6fcf97;
}
.menu__link .badge-red {
  background: #ea5455;
  color: #ffffff;
}
.menu__link .badge-yellow {
  background: #f2c94c;
}

.s-icon {
  min-width: 26px;
  min-height: 26px;
  margin-right: 20px;
}

.title {
  line-height: 1.25;
  text-transform: uppercase;
  color: #4f4f4f;
  padding-left: 15px;
}

.title-box {
  margin-bottom: 5px;
}

.title-dash {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding-left: 15px;
  display: none;
}
.title-dash span:not(:last-child) {
  margin-right: 5px;
}
.title-dash__small {
  width: 8px;
  height: 5px;
  border-radius: 20px;
  background-color: #9e8cfc;
}
.title-dash__big {
  width: 13px;
  height: 5px;
  border-radius: 20px;
  background-color: #9e8cfc;
}

.page {
  -webkit-box-flex: 1;
      -ms-flex: 1 1 auto;
          flex: 1 1 auto;
}
.page__container {
  background: #ffffff;
  -webkit-box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.15);
          box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.15);
  border-radius: 10px;
  padding: 22px 20px;
  margin: 30px 25px 0;
  max-width: 1170px;
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}
.page__header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  width: 100%;
}
.page__img {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin: 68px 0;
}

.quick-panel {
  -webkit-box-flex: 1;
      -ms-flex: 1 1 auto;
          flex: 1 1 auto;
}
.quick-panel__menu-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
}
.quick-panel .menu__item {
  padding-left: 0;
}
.quick-panel .menu__item:hover {
  background-color: transparent;
  -webkit-box-shadow: unset;
          box-shadow: unset;
}
.quick-panel .menu__item:hover svg {
  fill: #9e8cfc;
}

.settings {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  max-width: 374px;
  width: 100%;
}
.settings__lang {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.settings__menu-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}
.settings .menu__item {
  padding-left: 0;
}
.settings .menu__item:hover {
  background-color: transparent;
  -webkit-box-shadow: unset;
          box-shadow: unset;
}
.settings .menu__item:hover svg {
  fill: #9e8cfc;
}
.settings__avatar {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  position: relative;
}
.settings__avatar-status {
  position: absolute;
  bottom: 5px;
  right: 0;
  width: 10px;
  height: 10px;
  background: #6fcf97;
  border: 1px solid #ffffff;
  border-radius: 50%;
}

.bg-dark {
  display: none;
}