.wrapper {
  width: 1170px;
  margin: 0 auto;
  padding: 30px 0;
  display: grid;
  grid-gap: 30px;
  grid-template-areas:
    "a1 a2 a3"
    "a4 a2 a5"
    "a6 a7 a5"
    "a6 a8 a8"
    "a9 a9 a10";
}
.wrapper>div{
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 30px;
}
.img {
  min-width: 370px;
  min-height: 370px;
  border: 1px solid red;
  border-radius: 20px;
}
.item1 {
  grid-area: a1;
  background-color: lightblue;
}
.item2 {
  grid-area: a2;
  background-color: lightcoral;
}
.item3 {
  grid-area: a3;
  background-color: lightcyan;
}
.item4 {
  grid-area: a4;
  background-color: lightgreen;
}
.item5 {
  grid-area: a5;
  background-color: lightpink;
}
.item6 {
  grid-area: a6;
  background-color: lightseagreen;
}
.item7 {
  grid-area: a7;
  background-color: lightslategray;
}
.item8 {
  grid-area: a8;
  background-color: lightsalmon;
}
.item9 {
  grid-area: a9;
  background-color: #fff;
}
.item10 {
  grid-area: a10;
  background-color: lightgray;
}
