body {
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
}
.entered-text {
  background-color: linen;
  padding: 10px 0;
}

#sortable {
  margin-right: 100px;
}

table,
th,
td {
  border-spacing: 0;
  border-collapse: collapse;
}
th {
  cursor: pointer;
}

table tr th {
  background-color: lightslategrey;
  color: whitesmoke;
}
tr:nth-child(even) {
  background-color: rgb(238, 236, 236);
}
table tr th,
table tr td {
  padding: 10px 10px;
  text-align: center;
}
table tr td:nth-child(3) {
  text-align: end;
}
table tr td:nth-child(2) {
  width: 200px;
}

/* form */
#form {
  margin-top: 50px;
  margin-bottom: 50px;
}
.input-wrapper {
  display: flex;
  align-items: center;
  margin-bottom: 10px;
}
div label {
  display: inline-block;
  width: 70px;
}
div input {
  margin-right: 20px;
  padding: 5px 0;
}
.btn {
  border: 1px solid;
  outline: none;
  padding: 8px 25px;
  border-radius: 15px;
  cursor: pointer;
  transition: background-color 0.2s ease-in-out;
}
.btn:hover {
  background-color: rgb(191, 192, 193);
}
