.swiper-slider {
  max-height: 700px;
  position: relative;
}
.swiper-wrapper {
  height: 100%;
}
.swiper-slide {
  height: 100%;
  text-align: center;
  position: relative;
  &__content {
    position: absolute;
    width: 400px;
    top: 120px;
    right: 70px;
  }
  &__heading {
    font-weight: 700;
    font-size: 50px;
    line-height: 61px;
    text-align: center;
    text-transform: uppercase;
    color: $brown-light;
    margin-bottom: 50px;
  }
  &__link {
    font-size: 18px;
    line-height: calc(22 / 18);
    padding: 15px 57px;
    text-transform: uppercase;
    color: #ffffff;
    border: 2px solid $brown-light;
    transition: all 0.3s ease;
    &:hover {
      background-color: $tomato-light;
      border: 2px solid $tomato-light;
    }
  }
}

.swiper-pagination-bullet {
  width: 20px;
  height: 20px;
  background-color: $dot-inactive;
}
.swiper-pagination-bullet-active {
  width: 20px;
  height: 20px;
  background-color: $tomato-light;
}

.swiper-horizontal > .swiper-pagination-bullets .swiper-pagination-bullet,
.swiper-pagination-horizontal.swiper-pagination-bullets .swiper-pagination-bullet {
  margin-right: 30px;
}
.swiper-horizontal > .swiper-pagination-bullets,
.swiper-pagination-bullets.swiper-pagination-horizontal,
.swiper-pagination-custom,
.swiper-pagination-fraction {
  bottom: 50px;
}
.img-gradient {
  position: relative;
}

.img-gradient::after {
  content: "";
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background: linear-gradient(180deg, rgba(0, 0, 0, 0.84) 0%, rgba(217, 217, 217, 0) 100%);
}
