/* base styles */
$ff-base: "Montserrat", sans-serif;
$fw-base: 400;
$fs-base: rem(16);
$lh-base: calc(20 / 16);

$width-container: 1200px; // on 30px more then real container

/* ------------------------ */
/* ------ colors ------- */
/* ------------------------ */
$white: #ffffff;
$gray-dark: #4f4f4f;
$gray-middle: #828282;
$gray-light: #bdbdbd;
$purple-dark: #392c72;
$putple-light: #9e8cfc;
$red: #ea5455;
$yellow: #f2c94c;
$green: #6fcf97;
$blue-dark: #283046;
$blue-darken: #161d31;

$body-color: #18191a;
$sidebar-color: #242526;
$primary-color: #3a3b3c;
$primary-color-light: #3a3b3c;
$toggle-color: #fff;
$text-color: #ccc;

/* ====== Transition ====== */
$tran-02: all 0.2s ease;
$tran-03: all 0.3s ease;
$tran-04: all 0.4s ease;
$tran-05: all 0.5s ease;
