.header {
  @include flex(true);
  justify-content: space-between;
  padding: 20px 0;
}

.logo {
  @include flex(true, true);
  &__img {
    margin-right: 12px;
  }
  &__name-one {
    font-family: $primary-font-family;
    font-weight: 700;
    font-size: 31.1102px;
    line-height: 1.2; /* 37/31 */
    letter-spacing: -0.025em;
    color: $warning-color;
  }
  &__name-two {
    font-family: $primary-font-family;
    font-weight: 700;
    font-size: 31.1102px;
    line-height: 1.2;
    letter-spacing: -0.02em;
    color: $primary-color;
  }
}
.address {
  @include flex(true);
  &__deliver {
    font-family: $primary-font-family;
    font-style: normal;
    font-weight: 700;
    font-size: 18px;
    line-height: 100%;
    margin-right: 12px;
  }
  &__link {
    @include flex(true);
  }
  &__place {
    @include flex(true);
    &:hover {
      text-decoration: underline;
    }
    &--bold {
      margin-left: 4px;
    }
  }
  &__place--bold {
    font-family: $secondary-font-family;
    font-style: normal;
    font-weight: 700;
    font-size: rem(18);
    line-height: 1.4;
  }
}

.fa-location-dot,
.fa-search {
  color: #ffb30e;
  margin-right: 9px;
  width: 18px;
  height: 18px;
}

.search-login {
  @include flex(true);
  // justify-content: flex-end;
  // margin-right: 30px;
}

.search {
  @include flex(true);
  &__icon {
    width: 18px;
    height: 18px;
    margin-right: 8px;
  }
  &__text {
    max-width: 115px;
    width: 100%;
    font-family: $primary-font-family;
    font-weight: 700;
    font-size: rem(18);
    line-height: 1;
  }
}
::placeholder {
  font-family: $primary-font-family;
  font-weight: 700;
  font-size: rem(18);
  line-height: 1;
}

.login-button {
  @include flex(true);
  padding: 14px 24px;
  background: #ffffff;
  box-shadow: 0px 5px 10px rgba(255, 174, 0, 0.26), 0px 20px 40px rgba(255, 174, 0, 0.29);
  border-radius: 8px;
  color: #ff8a00;
  margin-left: 30px;
  &__icon {
    margin-right: 10px;
  }
}
